
.infoBar
{
    display:flex;
    flex-direction: column;
    width: 20%;
    background-color: #161b22;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    height: 100%;
    border-radius: 10px;
    border-right: 1px solid rgb(223, 96, 32);
}

.principal
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
}
.datos
{
    color: white;
    margin: 8px;
    font-size: 12px;
    text-align: center;
    
}

.nombre
{
    color: white;
    font-size: 20px;
}


@media (max-width: 880px)
{
    .infoBar{
        width: 100%;
        height: 15%;
        flex-flow: wrap row;
        justify-content: center;
        border-right: 0;
        border-bottom: 1px solid rgb(223, 96, 32);
    }

    .principal
    {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }



    .datos
    {
        font-size: 10px;
        margin: 5px;
        
    }

    .nombre
    {
        font-size: 15px;
        margin: 0 0 0 8px;
    }
}