.section
{
    background-color: #010409;
    width: 95%;
    box-sizing: border-box;
    padding: 15px 30px 15px 30px;
    margin-bottom: 5%;
}

.title
{
    margin: 0;
    border-bottom: 1px solid white;
    color: white;
}

.paragraph
{
    color: white;
    text-align: justify;
    margin: 5px;
}

@media (max-width: 880px)
{
    .title
    {
        font-size: 20px;
    }

.paragraph
    {
        font-size: 15px;
        margin: 2px;
    }
    
}

@media (max-width: 430px)
{
    .title
    {
        font-size: 12px;
    }

    .paragraph
    {
        font-size: 10px;
        margin: 2px;
    }
}